# Fire off 
name: build server and client
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
    - name: checkout repo
      uses: actions/checkout@v4
    - name: build application
      run: /Source/Server/make
    - name: upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: openMerc_server
        path: openMerc_server
    
